@import "~office-ui-fabric-react/dist/sass/References.scss";

.dashboard {
  padding: 2em;
  #react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

  #react-paginate li {
    display: inline-block;
  }
  .row {
    @include ms-Grid-row;
  }
  .column {
    width: 50%;
    padding: 1%;
    float: left;
  }

  .homebutton {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
  }
  
}
