@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
.viewRequest {
  padding: 2em;

  .boxRow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding-top: 12px;
    padding-bottom: 10px;
    margin: 0;
    border-radius: 0px;
    box-sizing: border-box;
    margin: 0 5px 5px;
    background-color: white;
  }

  .row {
    @include ms-Grid-row;

    margin: 0 5px 5px 5px;
  }
  .columnrow {
    @include ms-Grid-col;
    @include ms-md4;
    padding: 1%;
    width:100% !important;
  }

  .checkbox {
    @include ms-Grid-col;
    @include ms-md4;
    padding: 1%;
    padding-top: 4%;
  }
  .columrowhalf {
    @include ms-Grid-col;
    @include ms-md8;
    padding: 1%;
    width:48% !important;
  }

  .chipleft {
    float: left;
    font-weight: bold;
  }
  .chipRight {
    float: right;
    font-weight: bold;
    margin: 2px;
  }

  .divTitle {
    margin-left: 0px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #3f51b5;
    padding: 20px;
  }

  .columninfo {
    //
    float: left;
    width: 30%;
    padding: 1%;
  }
  .column {
    text-align: justify;
    width: 28%;
  }
  .columnlg {
    float: left;
    width: 33%;
    padding: 1%;
  }
  .columnbtn {
    float: left;
    width: 23%;
    padding: 4%;
  }
  .columnspan {
    float: left;
    width: 48%;
    padding: 1%;
  }

  .rowPadding {
    padding: 1%;
  }

  .dropzone {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
  .divhr {
    line-height: 30px;
    height: 30px;
    text-shadow: none;
    // background: #fff;
    border: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ce1b0e;
  }
  .divheading {
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    text-shadow: none;
    // background: #fff;
    border: none;
    float: left;
    //border-bottom-width: 5px;
    // border-bottom-style: solid;
    // border-bottom-color: #ce1b0e; // rgb(55, 166, 205);
    color: #273b67;
  }
  .divcontainer {
    // padding-bottom: 1em;
    padding-top: 1em;
    padding-top: 1em;
    padding-left: 0.35em;
    padding-right: 0.35em;
  }

  .divspinner {
    position: fixed;
    left: 50%;
    top: 48%;
  }
  .spanalert {
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 0, 0);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    display: block;
  }

  .statusContainer {
    columns: #222222;
    float: right;
    text-shadow: none;
  }

  .statusContainer span {
    position: relative;
    top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    border-bottom: 5px solid #3f51b5;
    font-weight: bold;
    letter-spacing: 0px !important;
  }
  .bageContainer {
    padding: 10px 10px 35px;
  }
  .buttonProgress {
    color: green;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-top: -4px;
    margin-left: -4px;
  }
  .wrapper {
    margin-left: 10px;
  }

  .buttonDiv {
    margin: 15px 0px 0px 5px;
    text-align: center;
  }
 
}
.wsclientrefund {
  border-bottom: 2px solid #ce1b0e;
  background-color: #dee1e1;
  .container {
    max-width: inherit;
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
 
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    //background-color: #2f74bb; // #ce1b0e; // $ms-color-themeDark;
    padding: 20px;
    margin: 0px;
    min-height: 100px;
    background: #4b6cb7; /* fallback fo:r old browsers */
    background: -webkit-linear-gradient(
      to right,
      #3c922c,
      #99f7c8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3c922c,
      #99f7c8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }
 
  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }
 
  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
 
  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .header {
    display: -webkit-box;
    font-size: 30px;
    float: left;
    /* vertical-align: middle; */
    margin-top: 5px;
    font-family: inherit;
  }
 
  .buttonTop {
    margin-top: 5px;
    float: right;
  }
  .Mui-disabled {
    color: #708090 !important;
  }

  .styleh1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
  }
 
  .head Button {
    margin-left: 20px;
  }
  .columnTitle {
    float: right;
  }
  .button {
    // Our button
    text-decoration: none;
    height: 32px;
 
    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
 
    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
 
    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .container {
    background: #b4f7cf; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #b4f7cf); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #eef2f3,
      #b4f7cf
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .ButtonMain {
    color: white !important;
    background-color: #172777 !important;
  }
  .ButtonMain:disabled {
    /* Increase the specificity */
    color: slategray !important;
  }
  .row {
    @include ms-Grid-row;
     margin: 0px;
  }
  .boxRow {
    padding-left:15px;
    width: 92%;
    margin: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding-top: 12px;
    padding-bottom: 10px;
    // margin: 0;
    border-radius: 0px;
    box-sizing: border-box;
    // margin: 0 5px 5px;
    background-color: white;
    display: table;
  }
  .columnrow {
    @include ms-Grid-col;
    @include ms-md4;
    padding: 1%;
    width:100% !important;
  }
  .columnrowInvoice {
    @include ms-Grid-col;
    @include ms-md4;
    padding: 3%;
    width:95% !important;
    margin-left: -10px !important;
  }

  .checkbox {
    @include ms-Grid-col;
    @include ms-md4;
    padding: 1%;
    padding-top: 4%;
  }
  .columrowhalf {
    @include ms-Grid-col;
    @include ms-md8;
    padding: 1%;
    width:47% !important;
  }

  .chipleft {
    float: left;
    font-weight: bold;
  }
  .chipRight {
    float: right;
    font-weight: bold;
  }

  .divTitle {
    margin-left: 0px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #3f51b5;
    padding: 20px;
  }

  .columninfo {
    //
    float: left;
    width: 30%;
    padding: 1%;
  }
  .column {
    text-align: justify;
    width: 28%;
  }
  .columnlg {
    float: left;
    width: 33%;
    padding: 1%;
  }
  .columnbtn {
    float: left;
    width: 23%;
    padding: 4%;
  }
  .columnspan {
    float: left;
    width: 48%;
    padding: 1%;
  }

  .rowPadding {
    padding: 1%;
  }

  .dropzone {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
  .divhr {
    line-height: 30px;
    height: 30px;
    text-shadow: none;
   // background: #fff;
    border: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ce1b0e
  }
  .divheading {
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    text-shadow: none;
   // background: #fff;
    border: none;
    float: left;
    //border-bottom-width: 5px;
   // border-bottom-style: solid;
   // border-bottom-color: #ce1b0e; // rgb(55, 166, 205);
   color: #273b67;
  }
  .divcontainer {
    //padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.35em;
    padding-right: 0.35em;  }

  .divspinner {
    position: fixed;
    left: 50%;
    top: 48%;
  }
  .spanalert {
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 0, 0);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    display: block;
  }

  .statusContainer {
    columns: #222222;
    float: right;
    text-shadow: none;
  }

  .statusContainer span {
    position: relative;
    top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    border-bottom: 5px solid #3f51b5;
    font-weight: bold;
    letter-spacing: 0px !important;
  }
  .bageContainer {
    padding: 10px 10px 35px;
  }
  .buttonProgress {
    color: green;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-top: -4px;
    margin-left: -4px;
  }
  .wrapper {
    margin-left: 5px;
  }
  .buttonDiv {
    margin: 15px 0px 0px 5px;
    text-align: center;
  }    
}
.collapsediv{
  // background-color: white;
  color: black;
  width: 94%;
  // border: 1px solid;
  .header1{
    background-color: #BCCBC6;
    padding-bottom: 4px;
    padding-left: 15px;

    .details{
      padding-left: 10px;
      padding-right: 20px;
      // background-color: white;
      text-align: center;
      width: 10%;
      font-size: 17px;
    }
    .icon{
     // float: right;
      text-align: center;
      margin-top: 5px;
      //margin-right: 10px;
      user-select: none;
      cursor:pointer;
    }
  }
  .content{
    padding-top: 5px;
    display: flex;
    font-size: 15px;
    .left{
      width: 30%;
      flex: 1;
      margin-right: 10px;
    }
    .right{
      width: 30%;
      flex: 1;
    }
    .col{
      padding-bottom: 3px;
      border-bottom-style:solid;
      border-width: 1px;
    }
    .colcon{
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
  .contentC{
    visibility: hidden;
    display: none;
  }
  .contentE{
    visibility: visible;
  }
}

