.header-class
{
  background-color:#34657F !important;
  color: #fff !important;
}
.scr
{
    padding-left: 15px;
}
.divHr
{
    margin-bottom: 0rem !important;
    border: 1px solid;
    margin-top: 3px;
} 
.lblRefNo
{
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}
.rchClass
{
    width:94%;
    padding:1%;
}
.ql-editor
{
    background-color: #fff !important;
}
.ms-Checkbox-text
{
font-weight: bold;
}
.loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}
.imgSearch
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    margin-top: 15px;
}
.imgEditSearch
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    margin-top: -38px;
}
.ms-ChoiceField
{
    padding-left: 8px !important;
}
// .ms-Dropdown-containerwsac
// {
//     width: 588px !important;
// }
.divright
{
    padding-top: 1px;
    width: 70%;

}
.divBusinessName
{
    width: 62%;
    /* float: left; */
    padding-right: 15px;
}
.divleft
{
    width: 35%;
    float: left;
    padding-right:15px ;
}
.divleftSecond
{
    padding-right: 20px;
     float: left;
}
.wsACH
{
    border: 1px solid #917667;
    padding: 20px 4px;
    padding-left: 20px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 27px / 27px;
    min-height: 170px;
    background-color: #DEE1E1;
   // padding-bottom: 20px;
}
.divDropClass{
    float: left;
    width: 447px;
}
.divBtnSearch
{
    padding-right: 40px;
}
.divCommonHeader
{
    float: left;
    font-size: 1.142em;
    line-height: 1.5;
    font-style: inherit;
    color: rgb(23, 43, 77);
    font-weight: 600;
    letter-spacing: -0.006em;
    margin-bottom: 0px;
    box-shadow: 0 0 2px;
    border-radius: 11px;
    padding-left: 4px;
    margin-right: 5px;
}
.divCommonHeaderCalendar
{
    float: left;
    font-size: 1.142em;
    line-height: 1.5;
    font-style: inherit;
    color: rgb(23, 43, 77);
    font-weight: 600;
    letter-spacing: -0.006em;
    margin-bottom: 0px;
    box-shadow: 0 0 2px;
    border-radius: 11px;
    padding-left: 4px;
    margin-right: 5px;
    margin-top: 7px;
}
.divButtonCalendar
{
    width: 236px;
    padding: 8px;
    margin-left: 145px;
}
.divFirstSection
{
    border: 1px solid;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 1px;
}
.divTabs
{
    border-radius: 20px !important;
    padding: 8px !important;
    min-height: 250px !important;
}
.tooltip,.tooltipEdit {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext ,.tooltipEdit .tooltiptext  {
    visibility: hidden;
    width: 300px;
    background-color: #C1C6C8;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1 !important;
    bottom: 86% !important;
    margin-left: -60px !important;
    opacity: 1 !important;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } 
  .tooltipEdit:hover .tooltiptext {
    visibility: visible;
  }
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #fff !important;
  }
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }
  .table th {
    padding: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    vertical-align: top !important;
        // text-align: center;
    white-space: nowrap;
    font-size: 12px;

  }
.order
{
    margin-left:-4px !important;
}

.btnDelete
{
    background-color: #fff !important;
    border: 0 !important;

}
.dvFirstHeader
{
    float: right;
    width: 100%;
    border: 1px solid #AFD29E;
    border-radius: 40px / 34px;
    padding: 15px;
   min-height: 158px;
   padding-top: 1px;
   margin: 6px;
}
.spnRequired
{
    color: #ff0000;
}
.divButton
{    // border: .5px solid #00126b;
    // padding-left: 5px;
    width: 448px;
}
.div-left{
    float:left;
    width: 40%;
}
.lastLeftDiv
{
    float: left;
    padding-right: 16px;
    width: 43%;
}
.lastRightDiv
{
    padding-top: 1px;
    margin-left: 51%;
    width: 43%;
}
.peopleimg{
    width: 30px;
    margin-top: 3px;
    margin-left: -30px;
    position: absolute;

}
.div-right{
    float:right;
    width: 15%;
}
.divclear
{
    clear: both;
}
.divReqnameLeft
{
    width: 24%;
    float: left;
}
.divReqnameright
{
    float: right;
}
.imgDelete 
{
    height: 12px;
    width: 12px;
    background-color: #fff !important;
}
.divMainHeader
{
    // width: 600px;
    // color: #fff;
    background-color: #CBCBBC;
    height: 25px;
    font-weight: 600;
    padding: 2px;
}
.divHeader
{
    font-size: 1.43em;
    font-weight: normal;
    line-height: 1.2;
}
.dvHeader
{
    width: 100%;
}
.divCommon
{
    font-size: 1.142em;
    line-height: 1.5;
    font-style: inherit;
    color: rgb(23, 43, 77);
    font-weight: 600;
    letter-spacing: -0.006em;
    margin-bottom: 0px;
    // padding-top: 15px;
}
.divContents
{
    font-size: 1em;
    line-height: 1.428;
}
.btnSubmit
{
    text-transform: uppercase;
    background-color: #34657F;
    height: 29px;
    font-weight: bold;
    color: #fff;
    // margin-top: 12px;
    border-radius: 7px;
}
.divError
{
    color: red;
    font-size: 1.142em;
    line-height: 1.5;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -0.006em;
    margin-top: 0.5em;
    margin-bottom: 0px;
    border: 0.5px solid RGBA(0, 120, 212, 1);
    padding: 10px;
}
.configDiv,.subDiv
{
    padding: 5px;
    border: 0.5px solid #00126b;
}
.subDiv
{
    background-color: #f9f9f9;
}
.configDiv
{
    background-color:  #afd29e;
}

.quill
{
    height: 100px !important;
    background-color: #fff !important;
}
.highcharts-background
{
    background-color:red !important;
}
.SurveyHomePageDiv
{
    background-color: rosybrown;
}
.divMainSurveyHome
{
    width: 600px;
}
.divLeftImg
{
    width: 240px;
    float: left;
}
.divRightText
{
    width: 350px;
    float: right;
    min-height: 100px;
}
.imgSurveyHome
{
    width: 240px;
    height: 90px;
}
.anchorSurveyHome
{
    font-size: 12px;
    color: #005ba1;
    cursor: pointer;
}